---
layout: default
title: Home
js: main.js
---
<!-- begin intro section -->
<section id="intro">
    <div class="header-caption container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 d-flex align-items-center">
                <div>
                    <h1>Women in Robotics</h1>
                    <h5 class="sub-title animated fadeIn">
                        The professional network for women who work in robotics -
                        or who aspire to.
                    </h5>
                    <h6 class="sub-title animated fadeIn">Non-binary people welcome.</h6>
                    <div class="buttons">
                        <div class="p-2">
                            <a href="{{ site.join_url }}"
                                class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">
                                Join us
                            </a>
                        </div>
                        <div class="p-2">
                            <a href="/about/" class="page-scroll btn btn-lg btn-common animated fadeInUp">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <figure>
                    <img src="/assets/images/Deconstructed robot-amico.png" class="w-100"
                        alt="women working on a robot">
                </figure>
                <a href="https://storyset.com/technology" style="color:lightgray; font-size:x-small;">
                    Technology illustrations by Storyset
                </a>
            </div>
        </div>
    </div>

</section>
<!-- end intro section -->

<!-- portfolio section 4col -->
<section id="news">
    <div class="container text-center">
        <h3 class="text-white">Stay up to date</h3>
    </div>
    <div id="portfolio">
        <ul class="row list-unstyled" id="grid">
            {% for post in site.posts limit:4 %}
            <li class="col-md-3 col-sm-6 m-auto project">
                <figure>
                    <div class="hovereffect">
                        <img src="{{ post.image }}" alt="{{ post.title }}">
                        <a href="{{ post.link | strip}}">
                            <div class="overlay">
                                <figcaption>
                                    <h5 class="text-white">{{ post.title }}</h5>
                                </figcaption>
                            </div>
                        </a>
                    </div>
                </figure>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="text-center">
        <h5 class="text-white">We provide a weekly newsletter keeping you up to date with the latest news in the
            industry and Women in Robotics.</h5>
        <a class="page-scroll btn btn-lg btn-info-filled animated fadeInUp" href="/newsletter/">Subscribe</a>
        <a class="page-scroll btn btn-lg btn-info animated fadeInUp" href="/news/">Read more</a>
    </div>
</section>
<!-- End portfolio section 4col -->

<!-- Begin chapters section -->
<section id="chapters">
    <div class="container p-5">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <figure>
                    <img src="/assets/images/wir-map.png" class="w-100" alt="women in robotics chapter map" />
                </figure>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>Join a local chapter</h3>
                <h5 class="sub-title">
                    <span>We support each other through a global community and local chapters.</span>
                </h5>
                <a href="/chapters/" class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">Find yours</a>
            </div>
        </div>
    </div>
</section>
<!-- End chapters section -->

<!-- Begin event highlight section -->
<section id="events">
    <div class="container">
        <div class="text-center p-5">
            <h3>Go to an event</h3>
            <h5 class="sub-title">
                <span>We offer career development meetings and events.</span>
            </h5>
        </div>
        <div class="pb-5">
            {%- if site.data.events %}
            {% assign sorted_events = site.data.events | sort:"start_time" | compact%}
            {%- endif %}
            {%- for event in sorted_events limit: 5 %}
            {%- if event.name %}
            {% include event-card.html event=event %}
            {%- endif %}
            {%- endfor %}
            {%- if sorted_events.size > 1 %}
            <div class="offset-md-4 col-md-6 mb-5">
                <a href="/events/">All events <i class="fa fa-arrow-right"></i></a>
            </div>
            {%- else %}
            <div class="text-center">
                <a href="/past-events/" class="btn btn-lg btn-common">Past events <i class="fa fa-arrow-right"></i></a>
            </div>
            {%- endif %}
        </div>
    </div>
</section>
<!-- End event highlight section -->

<!-- Begin newsletter section -->
<section id="newsletter">
    <div class="container p-5">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1>Subscribe to our newsletter</h1>
                <p>New events, new chapters, you name it! There’s a lot happening for women in our online community and
                    in the rest of the world. Subscribe to always be up-to-date on the latest from Women in Robotics!
                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div style="margin-top:2.5em;">
                    <form name="newsletter" method="post" data-netlify="true" action="/success/">
                        <div class=" form-group">
                            <label for="member_email">Email address</label>
                            <input class="form-control" placeholder="Your email address..." type="email"
                                name="member[email]" id="member_email">
                        </div>
                        <div class="form-actions">
                            <input class="btn btn-lg btn-default-filled mb-1" type="submit" value="Subscribe"
                                name="member[subscribe]" id="member_submit">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>
<!-- End newsletter section -->

<!-- Begin store section -->
<section id="store">
    <div class="container p-5">
        <div class="row">
            <div class="text-center">
                <h3>Show your support</h3>
                <p>Help us raise awareness by donating and receive branded merchandise.</p>
            </div>
            <div class="slider-container">
                <div class="shop-slider">
                    {%- for item in site.data.shop %}
                    <div class="slider-item">
                        <div class="card">
                            <img src=" {{ item.image }}" alt="item">
                        </div>
                    </div>
                    {%- endfor %}
                </div>
            </div>
            <div class="d-flex justify-content-center d-inline-flex p-2">
                <a href="{{ site.store_url }}"
                    class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">Shop</a>
            </div>
        </div>
    </div>
</section>

<!-- Begin support section -->
<section id="support">
    <div class="container p-5">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3 class="sub-title">
                    <span>Become a Women in Robotics sponsor.</span>
                </h3>
                <p>
                    Every year, people like you contribute to making Women in Robotics successful. We are a
                    volunteer-led organization that relies on the generous support from individuals and
                    organizations.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4>Individuals</h4>
                <p>Want to contribute but don't have time? Donations help support our rapidly growing initiatives. Every
                    bit helps! </p>
                <a href="{{ site.donation_url }}"
                    class="page-scroll btn btn-lg btn-info-filled animated fadeInUp">Donate
                </a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4>Companies</h4>
                <p>Join the following companies and become a sponsor for Women in Robotics. Most sponsors host
                    interactive events and mentorship to support our growing community.
                </p>
                <a class="page-scroll btn btn-lg btn-info-filled animated fadeInUp"
                    href="{{ site.sponsor_url }}">Sponsor</a>
            </div>
        </div>
        <div class="container pb-5">
            <div id="sponsors">
                <div class="row">
                    {%- for sponsor in site.data.sponsors %}
                    <div class="col text-center mb-2">
                        <a href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}"></a>
                    </div>
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End support section -->
