---
layout: default
title: Home
order: 1
---
<!-- begin intro section -->
<section id="intro">
    <div class="container">
        <div class="header-caption">
            <div class="row">
                <div class="col-md-12 header-content text-center">
                    <h1 class="page-header-title animated fadeInDown">
                        <span class="text-primary">Women in Robotics</span>
                    </h1>
                    <div class="w-50 mx-auto mb-60">
                        <img alt="logo" src="/assets/images/logo/WiRLogo-325x325w.png">
                    </div>
                    <h5 class="sub-title animated fadeIn">
                        The professional network for women who work in robotics -
                        or who aspire to.</h5>
                    <h5 class="sub-title animated fadeIn">Non-binary people welcome.</h5>
                    <a href="{{ site.join_url }}"
                        class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">Join the community</a>
                    <a href="{{ site.newsletter_url }}"
                        class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">Get the newsletter</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end intro section -->

<!-- portfolio section 4col -->
<section id="news">
    <div class="container">
        <div class="sub-title text-center">
            <span>We promote the visibility of women in robotics.</span>
        </div>
        <div id="portfolio">
            <ul class="row portfolio list-unstyled" id="grid">
                {% for post in site.posts limit:4 %}
                <li class="col-md-3 col-sm-6 m-auto project">
                    <figure>
                        <div class="hovereffect">
                            <img src="{{ post.image }}" alt="{{ post.title }}">
                            <div class="overlay">
                                <div class="iocns">
                                    <a class="left-link" href="{{ post.link }}">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="text-center">
        <a class="page-scroll btn btn-lg btn-info-filled animated fadeInUp" href="/news/">Read more</a>
    </div>
</section>
<!-- End portfolio section 4col -->

<!-- Begin chapters section -->
<section id="chapters">
    <div class="container">
        <div class="sub-title text-center">
            <span>We support each other through a global community and local chapters.</span>
        </div>
        <div class="accordion col-md-6 offset-md-3 mb-5" id="chapter-regions">
            {%- for region in site.data.chapters %}
            <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="{{ region[0] }}-heading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{ region[0] }}" aria-expanded="false" aria-controls="{{ region[0] }}">
                        {{ region[0] }}
                    </button>
                </h2>
                <div id="{{ region[0] }}" class="accordion-collapse collapse" aria-labelledby="{{ region[0] }}-heading"
                    data-bs-parent="#chapter-regions">
                    <div class="accordion-body">
                        <ul>
                            {%- assign local_chapters = region[1] %}
                            {%- for chapter in local_chapters %}
                            {%- if chapter.url %}
                            <li><a href="{{ chapter.url }}">{{ chapter.name }}</a></li>
                            {%- else %}
                            <li>{{ chapter.name }}</li>
                            {%- endif %}
                            {%- endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {%- endfor %}
        </div>
        <div class="text-center">
            <a href="/start-a-chapter/" class="page-scroll btn btn-lg btn-common animated fadeInUp">Start
                a chapter</a>
        </div>
    </div>
</section>
<!-- End chapters section -->

<!-- Begin event highlight section -->
<section id="events">
    <div class="container">
        <div class="sub-title text-center">
            <span>We offer career development meetings and events.</span>
        </div>
        <div>
            {% if site.data.events %}
            {% assign sorted_events = site.data.events | sort:"start_time" %}
            {% for event in sorted_events limit: 5 %}
            {% include event-card.html event=event %}
            {% endfor %}
            {% endif %}
        </div>
        <div class="text-center col-md-6 mb-60" future-date="{{ sorted_events.first.start_time | date: '%Y%m%d' }}">
            <a href="/events/">All events <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="text-center mb-60" past-date="{{ sorted_events.first.start_time | date: '%Y%m%d' }}">
            <a href="/past-events/" class="btn btn-lg btn-common">Past events <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="massage-box alert-info">
            <strong>
                <i class="fa fa-info"></i>
                Want more events?
            </strong>
            <p>We would love for you to sponsor our next event! </p>
            <p>Some of the companies who’ve hosted events include X, the moonshot factory, Fetch Robotics, Cruise
                Automation, BossaNova Robotics, Auris Technology, Embark Trucking, Farmwise, Cooper Perkins, Apex.AI,
                OhmniLabs, Vecna, UC Berkeley and Circuit Launch</p>
            <a href="mailto:info@womeninrobotics.org"
                class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">Contact us</a>
        </div>
    </div>
</section>
<!-- End event highlight section -->

<!-- Begin support section -->
<section id="support">
    <div class="container">
        <div class="sub-title text-center">
            <span>Support Women in Robotics.</span>
        </div>
        <div id="sliders">
            <!-- light slider -->
            <div class="carousel slide" id="light-slider">
                <div id="carousel-area">
                    <div class="carousel slide" data-ride="carousel" id="carousel-slider">
                        <ol class="carousel-indicators">
                            {%- for item in site.data.shop %}
                            {%- assign item-active = "" %}
                            {%- if forloop.first %}{% assign item-active = "active" %}{% endif %}
                            <li data-target="#carousel-slider" data-slide-to="{{ forloop.index0 }}"
                                class="{{ item-active }}"></li>
                            {%- endfor %}
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            {%- for item in site.data.shop %}
                            {%- assign item-active = "" %}
                            {%- if forloop.first %}{% assign item-active = "active" %}{% endif %}
                            <div class="carousel-item {{ item-active }}">
                                <img src=" {{ item.image }}" alt="item" class="mx-auto d-block">
                            </div>
                            {%- endfor %}
                            <a class="carousel-control-prev" data-slide="prev" href="#carousel-slider" role="button">
                                <span aria-hidden="true" class="carousel-control carousel-control-prev-icon"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" data-slide="next" href="#carousel-slider" role="button">
                                <span aria-hidden="true" class="carousel-control carousel-control-next-icon"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="{{ site.store_url }}" class="page-scroll btn btn-lg btn-common animated fadeInUp">Shop</a>
                <a href="{{ site.donation_url }}"
                    class="page-scroll btn btn-lg btn-info-filled animated fadeInUp">Donate</a>
            </div>
        </div>
        <div id="sponsors">
            <div class="container">
                <div class="text-center">
                    Join the following companies and become a sponsor for Women in Robotics.
                </div>
                <div class="row">
                    {%- for sponsor in site.data.sponsors %}
                    <div class="col logo">
                        <a href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}"></a>
                    </div>
                    {%- endfor %}
                </div>
                <div class="text-center">
                    <a class="page-scroll btn btn-lg btn-info-filled animated fadeInUp"
                        href="{{ site.sponsor_url }}">Sponsor</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End support section -->
