{% comment %}
This file adds an chapter card.

Example:
```
{% for chapter in site.data.chapters %}
{% include chapter-card.html chapter=chapter %}
{% endfor %}
```
chapter is a record:

```
"name":
"eventbrite": (optional)
"meetup": (optional)
"email":
"description":
```

{% endcomment %}
<div class="row border-top border-bottom rounded">
    <div class="col-md-8">
        <div class="card-block">
            <h4>{{ chapter.long_name}}</h4>
            {%- if chapter.email %}
            <p><a href="mailto:{{ chapter.email }}">{{chapter.email}}</a></p>
            {%- endif %}
            <p>{{ chapter.description | newline_to_br}}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="m-4 text-end">
            {%- if chapter.eventbrite %}
            <a href="{{ chapter.eventbrite }}"><img src="/assets/images/eventbrite-icon.png" width="36" height="36"
                    alt="eventbrite" /></a>
            {%- endif %}
            {%- if chapter.meetup %}
            <a href="{{ chapter.meetup }}"><img src="/assets/images/meetup-icon.png" width="36" height="36"
                    alt="meetup" /></a>
            {%- endif %}
        </div>
    </div>
</div>
