<div>
    {% for event in site.data.events | limit: include.event_limit %}
    <div class="row">
        <div class="col-md-4">
            <div class="image">
                <img src="{{ event.image }}" alt="{{ event.name }}">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-block">
                <h3>{{ event.name }}</h3>
                <h5> {{event.date }}</h5>
                <p>{{ event.description }}</p>
                <a href="{{ event.url }}" class="page-scroll btn btn-lg btn-common">More info</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="massage-box alert-info">
    <strong>
        <i class="fa fa-info"></i>
        Want more events?
    </strong>
    <p>We would love for you to sponsor our next event! </p>
    <p>Some of the companies who’ve hosted events include X, the moonshot factory, Fetch Robotics, Cruise
        Automation, BossaNova Robotics, Auris Technology, Embark Trucking, Farmwise, Cooper Perkins, Apex.AI,
        OhmniLabs, Vecna, UC Berkeley and Circuit Launch</p>
    <a href="mailto:info@womeninrobotics.org"
        class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">Contact us</a>
</div>
</div>