{% comment %}
This file adds an event card.

Example:
```
{% include event-card.html event=site.data.events %}
```
event is a record:

```
"id":
"url":
"name":
"description":
"location":
"location_info":
"start_time":
"end_time":
```

{% endcomment %}
<div class="row mb-5">
    <div class="col-md-4">
        <div class="card-block text-end">
            <h5>{{ event.start_time | date: '%A' }}</h5>
            <h4>{{ event.start_time | date: '%b %d,' }}</h4>
            <h5>{{ event.start_time | date: '%Y' }}</h5>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card-block">
            <h3>{{ event.name }}</h3>
            <h5>{{ event.location }}</h5>
            <p>{{ event.description | strip_html | truncate: 500, "..." }}</p>
            <a href="{{ event.url }}" class="page-scroll btn btn-lg btn-common">More info</a>
        </div>
    </div>
</div>
