<!-- Footer -->
<footer class="default-footer text-center">
    <div class="container">
        {% comment %} TODO (athackst) footer logo
        <img class="mb-40 footer-logo" src="/assets/images/logo-2.png" alt=""> 
        {% endcomment %}
        <span class="copy-right dis-blk">Women in Robotics is a 501(c)(3) not-for-profit organization</span>
        {% if site.ein_id %}<span class="dis-blk">{{ site.ein_id }}</span>{% endif %}
        <span class="social">
            {% if site.facebook %}<a href="{{ site.facebook }}"><i class="fa fa-2x fa-facebook"></i></a>{% endif %}
            {% if site.twitter %}<a href="{{ site.twitter }}"><i class="fa fa-2x fa-twitter"></i></a>{% endif %}
            {% if site.linkedin %}<a href="{{ site.linkedin }}"><i class="fa fa-2x fa-linkedin"></i></a>{% endif %}
            {% if site.instagram %}<a href="{{ site.instagram }}"><i class="fa fa-2x fa-instagram"></i></a>{% endif %}
        </span>
    </div>
</footer>