<!-- Footer -->
<footer class="default-footer text-center">
    <div class="container">
        <div class="row section">
            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                <img class="footer-logo" src="/assets/images/WIR_spanner_white.png" alt="logo">
                <span class="dis-blk">
                    Women in Robotics is a 501(c)(3) not-for-profit organization.
                </span>
                <span class="dis-blk">
                    8000 Edgewater Dr, Oakland, CA
                </span>
                {%- if site.email %}
                <span class="dis-blk">
                    <a href="mailto:{{ site.email }}">{{site.email}}</a>
                </span>
                {%- endif %}
                <span class="copy-right dis-blk">
                    Copyright &copy; {{ 'now' | date: '%Y' }}
                </span>
            </div>
            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                <h3 class="small-title text-uppercase">
                    Follow
                </h3>
                {% assign social = site.social_media %}
                {% include social.html fa_size="fa-2x" %}
            </div>
            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                <h3 class="small-title text-uppercase">
                    Join
                </h3>
                <a class="btn btn-lg btn-default-filled mb-1" href="{{ site.join_url }}">Join the community</a>
                <a class="btn btn-lg btn-default-filled mb-1" href="{{ site.newsletter_url }}">Get the
                    newsletter</a>
            </div>
            <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                <h3 class="small-title text-uppercase">
                    Support
                </h3>
                <a class="btn btn-lg btn-info-filled mb-1" href="{{ site.donation_url }}">Donate</a>
                <a class="btn btn-lg btn-info-filled mb-1" href="{{ site.sponsor_url }}">Sponsor</a>
                <a class="btn btn-lg btn-info-filled mb-1" href="{{ site.store_url }}">Shop</a>
            </div>
        </div>
</footer>
