<!-- Footer -->
<footer class="default-footer text-center">
    <div class="container">
        <img class="mb-40 footer-logo" src="/assets/images/WIR_spanner_white.png" alt="logo"> 
        <span class="copy-right dis-blk">Women in Robotics is a 501(c)(3) not-for-profit organization</span>
        {% if site.ein_id %}<span class="dis-blk">{{ site.ein_id }}</span>{% endif %}
        <span class="social">
            {% if site.facebook %}<a href="{{ site.facebook }}"><i class="fa fa-2x fa-facebook"></i></a>{% endif %}
            {% if site.twitter %}<a href="{{ site.twitter }}"><i class="fa fa-2x fa-twitter"></i></a>{% endif %}
            {% if site.linkedin %}<a href="{{ site.linkedin }}"><i class="fa fa-2x fa-linkedin"></i></a>{% endif %}
            {% if site.instagram %}<a href="{{ site.instagram }}"><i class="fa fa-2x fa-instagram"></i></a>{% endif %}
            {% if site.pinterest %}<a href="{{ site.pinterest }}"><i class="fa fa-2x fa-pinterest"></i></a>{% endif %}
        </span>
    </div>
</footer>