{% comment %}
This file adds a member card.

Example:
```
{% for member in site.data.board %}
{% include member-card.html member=member %}
{% endfor %}
```

member is a record:

```
name:
office:
location:
joined:
image:
twitter: (optional)
instagram: (optional)
linkedin: (optional)
facebook: (optional)
website: (optional)
```

{% endcomment %}
<!-- Person card starts -->
<div class="col-sm-6 col-md-3 mb-2">
    <div class="team-item">
        <figure class="team-profile">
            {%- if member.image %}
            <img src="{{member.image}}" alt="{{member.name}}">
            {%- else %}
            <img src="/assets/images/RosieUpdated.jpeg" alt="{{member.name}}">
            {%- endif %}
            <figcaption class="our-team">
                <div class="details">
                    <div>
                        <p class="content-white">{{member.location}}</p>
                        <p class="content-white">Joined {{member.joined}}</p>
                    </div>
                    <hr class="small-divider border-white">
                    <div class="social">
                        {%- if member.email %}
                        <a class="email" href="mailto:{{member.email}}"><i class="fa fa-at"></i></a>
                        {%- endif %}
                        {%- if member.facebook %}
                        <a class="facebook" href="https://www.facebook.com/{{member.facebook}}"><i
                                class="fa fa-facebook"></i></a>
                        {%- endif %}
                        {%- if member.twitter %}
                        <a class="twitter" href="https://twitter.com/{{member.twitter}}"><i
                                class="fa fa-twitter"></i></a>
                        {%- endif %}
                        {%- if member.instagram %}
                        <a class="instagram" href="https://www.instagram.com/{{member.instagram}}"><i
                                class="fa fa-instagram"></i></a>
                        {%- endif %}
                        {%- if member.linkedin %}
                        <a class="linkedin" href="https://www.linkedin.com/in/{{member.linkedin}}" data-proofer-ignore><i
                                class="fa fa-linkedin"></i></a>
                        {%- endif %}
                        {%- if member.website %}
                        <a class="website" href="{{member.website}}"><i class="fa fa-code"></i></a>
                        {%- endif %}
                    </div>
                </div>
            </figcaption>
        </figure>
        <div class="info">
            <h2>
                {{member.name}}
            </h2>
            <p>
                {{member.office}}
            </p>
        </div>
    </div>
</div>
<!-- Person card ends -->
