<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img alt="logo" src="/assets/images/logo/WiRLogo-200x200t.png" width="30" height="30"
            class="d-inline-block align-middle">
        Women in Robotics
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
            {%- for node in site.data.nav-bar %}
            <li
                class="nav-item{% if page.url == node.url %} active{% endif %}{% if node.subpages %} dropdown{% endif %}">
                {%- if node.subpages %}
                <a class="nav-link dropdown-toggle" href="{{node.url}}" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{node.title}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {%- for sub in node.subpages %}
                    <a class="dropdown-item" href="{{sub.url}}">{{sub.title}}</a>
                    {%- endfor %}
                </div>
                {%- else %}
                <a class="nav-link" href="{{node.url}}">{{node.title}}<span class="sr-only">(current)</span></a>
                {%- endif %}
            </li>
            {%- endfor %}
        </ul>
    </div>
    <div class="right d-none d-lg-block social px-3">
        {% include social.html fa_size="fa-lg" %}
    </div>
</nav>
