<!-- navbar -->
<nav class="navbar navbar-toggleable-sm navbar-light bg-default">
  <div class="container">
    <div class="logo">
    <a class="navbar-brand" href="{{ site.url }}"><img src="/assets/images/WIR_spanner_transparent.png" alt="logo"></a>
    </div>
    <div class="title">
    <h1>Women in Robotics</h1>
    </div>
    <div class="nav-toggle">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbar1">
      <ul class="navbar-nav">
        {% assign pages_list = (site.pages | sort: 'order') %}

          {% comment %} This section adds links for pages that are added to the site. {% endcomment %}
          {%- for node in pages_list %}
          {%- if node.title != null %}
            {%- if group == null or group == node.group %}
              {%- if page.url == node.url %}
              <li class="nav-item active"><a class="nav-link" href="{{node.url}}">{{node.title}}</a></li>
              {%- else %}
              <li class="nav-item"><a class="nav-link" href="{{node.url}}">{{node.title}}</a></li>
              {%- endif %}
            {%- endif %}
          {%- endif %}
          {%- endfor %}
      </ul>
    </div>
    <div class="right hidden-sm-down social">                          
      {% if site.facebook %}<a style="margin-left: 5px"  href="{{ site.facebook }}"><i class="fa fa-facebook fa-lg"></i></a>{% endif %}
      {% if site.twitter %}<a style="margin-left: 5px" href="{{ site.twitter }}"><i class="fa fa-twitter fa-lg"></i></a>{% endif %}
      {% if site.linkedin %}<a style="margin-left: 5px" href="{{ site.linkedin }}"><i class="fa fa-linkedin fa-lg"></i></a>{% endif %}
      {% if site.instagram %}<a style="margin-left: 5px" href="{{ site.instagram }}"><i class="fa fa-instagram fa-lg"></i></a>{% endif %}                            
    </div>
  </div>

</nav>
