{% comment %}
This file adds a profile card.

Example:
```
{% for person in site.data.wir-list-2022 %}
{% include profile-card.html person=person %}
{% endfor %}
```

person is a record:

```
"name": (required)
"title": (optional)
"organization": (optional)
"region": (optional)
"image": (optional)
"bio": (optional)
"profile": (optional)
"professional": (optional)
"twitter": (optional)
"video": (optional)
"projects": (optional)
```

{% endcomment %}
<!-- Profile card starts -->
<div class="col">
    <div class="card h-100">
        {%- if person.image %}
        <img src="{{person.image}}" alt="{{ person.name}}" class="card-img-top">
        {%- else %}
        <img src="/assets/images/RosieUpdated.jpeg" alt="{{person.name}}" class="card-img-top">
        {%- endif %}
        <div class="card-body">
            <h3 class="card-title">{{ person.name }}</h3>
            <div class="meta">
                <p class="card-text"><small class="text-muted">{{ person.title }}</small></p>
                <p class="card-text"><small class="text-muted">{{ person.organization }}</small></p>
                <p class="card-text"><small class="text-muted">{{ person.region }}</small></p>
            </div>
            <div class="card-text">
                <p>{{ person.bio }}</p>
            </div>
            {%- if person.projects %}
            <div class="projects">
                {%- for project in person.projects %}
                <span class="badge text-bg-secondary">{{project}}</span>
                {%- endfor %}
            </div>
            {%- endif %}
        </div>
        {%- if person.profile or person.professional or person.twitter or person.video %}
        <div class="card-footer extra">
            <div class="social">
                {%- if person.profile %}
                <a class="social-icon" href="{{ person.profile }}" data-proofer-ignore><i class="fa fa-user"></i></a>
                {%- endif %}
                {%- if person.professional %}
                <a class="social-icon" href="{{ person.professional }}" data-proofer-ignore><i
                        class="fa fa-briefcase"></i></a>
                {%- endif %}
                {%- if person.twitter %}
                <a class="social-icon" href="{{ person.twitter }}" data-proofer-ignore><i class="fa fa-twitter"></i></a>
                {%- endif %}
                {%- if person.video %}
                <a class="social-icon" href="{{ person.video }}" data-proofer-ignore><i
                        class="fa fa-solid fa-video-camera"></i></a>
                {%- endif %}
            </div>
        </div>
        {%- endif %}
    </div>
</div>
<!-- Profile card ends -->
