{% comment %}
This file adds the social links

Example:
```
{% assign social = site.social_media %}
{% include social.html fa_size='fa-2x' %}
```

Where fa_size is: [fa-2x, fa-lg,'']
{% endcomment %}

{%- if social.facebook %}
<a class="social-icon" href="{{ social.facebook }}">
    <i class="fa fa-facebook {{ include.fa_size }}"></i>
</a>
{%- endif %}
{%- if social.twitter %}
<a class="social-icon" href="{{ social.twitter }}">
    <i class="fa fa-twitter {{ include.fa_size }}"></i>
</a>
{%- endif %}
{%- if social.linkedin %}
<a class="social-icon" href="{{ social.linkedin }}" data-proofer-ignore>
    <i class="fa fa-linkedin {{ include.fa_size }}"></i>
</a>
{%- endif %}
{%- if social.instagram %}
<a class="social-icon" href="{{ social.instagram }}" data-proofer-ignore>
    <i class="fa fa-instagram {{ include.fa_size }}"></i>
</a>
{%- endif %}
{%- if social.pinterest %}
<a class="social-icon" href="{{ social.pinterest }}">
    <i class="fa fa-pinterest {{ include.fa_size }}"></i>
</a>
{%- endif %}
