{% comment %}
This file adds a volunteer card.

Example:
```
{% for opportunity in site.data.opportunities %}
{% include volunteer-card.html opportunity=opportunity %}
{% endfor %}
```

opportunity is a record:

```
"title": "Translator",
"description": "Help Women in Robotics translate robotics-related content to other languages.",
"location": "online",
"contact": "translate@womeninrobotics.org"
```

{% endcomment %}
<!-- Volunteer card starts -->
<h5 class="card-title">{{opportunity.title}}</h5>
<p class="card-text"><small class="text-muted">{{ opportunity.location }}</small></p>
<p class="card-text">{{opportunity.description}}.</p>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#volunteerModal"
    data-bs-opportunity="{{opportunity.title}}" data-bs-contact="{{opportunity.contact}}">Sign up</button>
<!-- Volunteer card ends -->
