@import url("https://fonts.googleapis.com/css?family=Rubik:400,700|Montserrat:700");

/* Page */
body {
    font-family: "Rubik", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 1.5rem;
}

a {
    color: #eb155b;
    letter-spacing: 0px;
    outline: 0 !important;
}

a:hover, a:active, a:focus {
    color: #f095b3;
    text-decoration: none
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

figure {
    display: inline-block
}

.page-header-title {
    color: #eb155b;
    margin: 2.6rem 0 2.0rem 0;
    text-align: center;
}

.header-img {
    max-width: 500px;
}
.hero-content {
    margin-top: 4.5em;
}
.hero-content .buttons .btn {
    margin: 10px 20px;
  }

.sub-title {
    color: #999;
}

.text-primary {
    color: #eb155b !important;
}

.text-bg-primary {
    background-color: #eb155b !important;
    color:#fff !important;
}

.text-secondary {
    color: #2e3192 !important;
}

.text-bg-secondary {
    background-color: #2e3192 !important;
    color:#fff !important;
}

blockquote {
    position: relative;
	background: rgba(46, 49, 146, 0.2);
	padding: 30px;
    margin: 30px auto;
    max-width: 700px;
	border-radius: 5px;
	box-shadow:
		inset 5px 0 0 rgba(46, 49, 146, 0.7),
		-5px -4px 25px rgba(0, 0, 0, 0.3);
}

blockquote p {
	font-family: 'Alegreya', serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 40px;
	font-style: italic;
	text-indent: 100px;
	position: relative;
}

blockquote:before{
	content: '\201C';
	font-family: serif;
	font-style: normal;
	font-weight: 700;
	position: absolute;
	font-size: 175px;
	top: -80px;
	left: 5px;
	color: rgba(46, 49, 146, 1);
	text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
}

.blockquote-footer {
    font-style:italic;
    margin-bottom: 0;
}

/* Navbar */
.navbar-brand {
    color: #eb155b !important;
}

.navbar {
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.wrapper {
    margin-top: 75px;
}

/*Form */
.form-control {
    color: #444;
    background: #f7f7f7;
    font-weight: 400;
    letter-spacing: 0px;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 30px;
    padding: 10px 20px;
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.form-control:focus {
    border-color: #eb155b
}

.form-group input {
    font: normal normal normal 14px/1 FontAwesome, "Rubik", sans-serif
}

.input-group input {
    font: normal normal normal 14px/1 FontAwesome, "Rubik", sans-serif
}

::-webkit-input-placeholder {
    color: #ccc !important
}

:-moz-placeholder {
    color: #ccc !important
}

::-moz-placeholder {
    color: #ccc !important
}

:-ms-input-placeholder {
    color: #ccc !important
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.dropdown-item {
    color: #eb155b;
}

.dropdown-item:focus, .dropdown-item:hover {
    background: #eb155b;
    color: #fff
}

@media(max-width: 992px) {
    .nav-item {
        margin-left: 2rem;
    }
    .dropdown-menu {
        box-shadow: none;
        background-color: inherit;
    }
}

/* Social */
.social-icon {
    text-decoration: none;
    padding: 0px 5px;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #55acee;
}

.fa-linkedin:hover {
    color: #007bb6;
}

.fa-instagram:hover {
    color: #fb3958;
}

.fa-pinterest:hover {
    color: #E60023
}

/* Buttons */
.btn, .netlify-identity-button {
    font-size: 14px;
    padding: 11px 27px;
    border-radius: 0;
    margin-bottom: 0.3rem;
}

.btn-lg, .netlify-identity-button {
    font-size: 18px;
    min-width: 198px;
    padding: 15px 11px;
}

.btn-common, .btn-common:active, .btn-common:focus, .netlify-identity-button, .netlify-identity-button:active, .netlify-identity-button:focus {
    color: #eb155b;
    border: 2px solid #eb155b;
    background: transparent
}

.btn-common:hover, .netlify-identity-button:hover {
    color: #fff;
    background: #eb155b;
    border: 2px solid #eb155b
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-default-filled, .btn-default-filled:active, .btn-default-filled:focus {
    color: #fff;
    background: #eb155b;
    border: 2px solid #eb155b;
    margin-bottom: 0.3rem;
}

.btn-primary:hover, .btn-default-filled:hover {
    color: #fff;
    background: #f095b3;
    border: 2px solid #f095b3
}

.btn-info-filled, .btn-info-filled:active, .btn-info-filled:focus {
    color: #fff;
    background: #2e3192;
    border: 2px solid #2e3192;
}

.btn-info-filled:hover {
    color: #fff;
    background: #9191e9;
    border: 2px solid #9191e9;
}

.btn-info, .btn-info:active, .btn-info:focus {
    color: #2e3192;
    background: transparent;
    border: 2px solid #2e3192;
}

.btn-info:hover {
    color: #9191e9;
    background: RGBA(255, 255, 255, 0.4);
    border: 2px solid #9191e9;
}

.netlify-identity-button {
    text-decoration: none;
}

/* Accordions */
.accordion-button {
    background-color: #eb155b;
    color: white;
    font-size: 18px;
}

.accordion-button:not(.collapsed) {
    background-color: #eb155b;
    color: white;
}

.accordion-button:focus {
    border-color: RGBA(235, 88, 111, 0.7);
    box-shadow: 0 0 0 0.25rem RGBA(235, 88, 111, 0.7);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.page-header-title {
    color: #eb155b;
    margin: 2.6rem 0 2.0rem 0;
    text-align: center;
    cursor: default
}

.page-header-img {
    width: 100%;
    height: auto;
    max-width: max-content;
    align-self: center;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .5s linear;
    transition: all .2s linear;
    width: 100%;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: RGBA(235, 88, 111, 0.7);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.hovereffect .iocns {
    top: 20%;
    left: 0;
    right: 0
}

.hovereffect .iocns .left-link {
    font-size: 14px;
    line-height: normal;
    outline: none;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.hovereffect .iocns a:hover {
    background: #fff;
    color: #eb155b
}

.hovereffect:hover img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100)
}

/*Cards*/
.card-block h5 {
    margin: 0;
}

.card-block h4 {
    margin: 0;
}

.card-block h3 {
    margin-top: 0;
}

.alert-info {
    color: #fff;
    background-color: #2e3192;
}

.alert-info h1 {
    color: #fff;
    background-color: #2e3192;
}

.carousel-indicators [data-bs-target] {
    background-color:#eb155b;
}

/*Message/alert boxes*/
.massage-box {
    position: relative;
    padding: 23px 20px 13px 55px;
    border-radius: 4px;
    margin: 30px 30px;
}

.massage-box strong {
    font-size: 24px;
    display: block;
    margin: 0 0 10px;
}

.massage-box i {
    position: absolute;
    left: 15px;
    top: 21px;
    width: 25px;
    font-size: 36px;
    text-align: center;
}

#intro {
    padding: 2.5rem;
}

#news {
    background-image: url(/assets/images/triangles-1430105_1280-1024x574_flipped.png);
    background-size: cover;
    width: 100%;
    padding: 2.5rem;
}

.bg-secondary {
    background: #2e3192 !important;
    color: white !important;
}

#support {
    background: #F6F6F6;
}

#portfolio .mix {
    padding: 0;
    display: none
}

#portfolio .portfolio.block {
    top: 15px
}

#portfolio .portfolio.block h5 {
    color: #444
}

#portfolio .project {
    padding-top: 15px;
    padding-bottom: 15px
}

#portfolio .project-description {
    font-size: 14px;
    color: #444
}

#portfolio ul.portfolio {
    margin-bottom: 0 !important
}

#events {
    background: #F6F6F6;
}

.tns-nav {
    text-align: center;
    margin: 10px 0;
}

.tns-nav>[aria-controls] {
    border-radius: 0px;
    width: 32px;
    height: 5px;
    margin: 0 5px;
    background: #eb155b;
    opacity: 0.5;
    border: none;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out
}

.tns-nav>.tns-nav-active {
    opacity: 1;
}

#sponsors img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

footer {
    background: #232935;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: #7C7C7C;
}

footer .small-title {
    margin-bottom: 20px;
    font-size: 22px;
    color: #fff;
}

footer .social a {
    font-size: 14px;
    margin-left: 10px;
}

img.footer-logo {
    width: 100px;
}

.dis-blk {
    display: block;
    margin-bottom: 30px;
}

/* About page */
.image-service-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.image-service-box .service-text {
    background: #f5f5f5;
    padding: 15px;
    border: 1px solid #e3e3e3;
}

.service-text h3 {
    margin-top: 0;
}

.service-text a {
    text-decoration: none;
}

#counter {
    background-image: url(/assets/images/purple-bg.jpg);
    background-size: cover;
    padding: 60px 0
}

.count-one {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px
}

.count-one .icon {
    margin-bottom: 20px;
    display: block
}

.count-one .icon i {
    color: #eb155b;
    font-size: 48px
}

.count-one .count-value {
    color: #fff;
    font-size: 48px;
    margin-bottom: 20px
}

.count-one .count-title {
    color: #fff;
    font-size: 14px
}

.team-item figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding-bottom: 100%;
}

.team-item figure img {
    width: 100%;
    height: auto;
    position: absolute;
}

.team-item figure figcaption {
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s
}

.team-item figure figcaption .details {
    position: absolute;
    top: 30%;
    margin: auto;
    width: inherit;
}

.team-item figure figcaption .content-white {
    font-size: 13px;
    text-align: center;
    color: #FFF;
    margin: 0 auto;
    line-height: 18px;
    width: 65%;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease
}

.team-item figure figcaption .small-divider {
    margin: 12px auto 6px;
    width: 0px;
    background: #fff;
    height: 1px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease
}

.team-item figure:hover figcaption {
    opacity: 1
}

.team-item figure:hover .small-divider {
    width: 62px;
    background: #fff
}

.team-item figure:hover figcaption .content-white {
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
}

.team-item figure:hover .social a {
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
}

.team-item .social {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.team-item .social .facebook, .team-item .social .twitter, .team-item .social .email, .team-item .social .linkedin, .team-item .social .instagram, .team-item .social .website {
    font-size: 24px;
    line-height: normal;
    outline: none;
    border-radius: 50%;
    color: #fff;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    margin-right: 5px
}

.team-item .social .facebook {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease
}

.team-item .social .twitter {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease
}

.team-item .social .email {
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease
}

.team-item .social .linkedin {
    -webkit-transition: all 600ms ease;
    transition: all 700ms ease
}

.team-item .social .instagram {
    -webkit-transition: all 600ms ease;
    transition: all 700ms ease
}

.team-item .social .website {
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease
}

.team-item .social a:hover {
    background: transparent
}

.profile-card {
    position: relative;
    display: block;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    width: 290px;
}

.card-block {
    padding: 15px;
}

.profile-card .extra {
    max-width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    width: auto;
    margin: 0;
    padding: 10px 15px;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.4);
}

.post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 30px;
}

.meta {
    margin-bottom: 30px;
}

.meta p {
    color: #444;
    font-size: small;
    margin-bottom: 0px;
}

.info {
    background: #F6F6F6;
    padding: 15px 0 10px;
    text-align: center
}

.info h2 {
    color: #000;
    font-size: 18px;
    margin: 0;
}

.info p {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase
}

.blog-item-wrapper {
    box-shadow: 0px 1px 4px #ddd
}

.blog-item-wrapper img {
    width: 100%;
}

.blog-item-wrapper .blog-item-text {
    padding: 20px
}

.blog-item-wrapper .blog-item-text h3 a {
    color: #444;
    font-size: 18px;
    text-decoration: none;
}

.blog-item-wrapper .blog-item-text h3 a:hover {
    color: #eb155b
}

.blog-item-wrapper .blog-item-text .meta-tags {
    font-size: 12px
}

.blog-item-wrapper .blog-item-text .meta-tags .comments a {
    color: #444;
    font-size: 12px
}

.blog-item-wrapper .blog-item-text .meta-tags .comments a:hover {
    color: #eb155b
}

@media (min-width: 768px) and (max-width: 1024px) {
    .btn-lg {
        min-width: 142px;
    }

    .fact-title {
        font-size: 14px
    }

    .blog-item-wrapper .blog-item-text h3 a {
        font-size: 14px
    }

    .blog-post-small img {
        max-width: 100%
    }

    .contact-info-title {
        font-size: 18px
    }

    .featured-box .featured-content h4 {
        font-size: 13px
    }

    footer #copyright .copyright-text, footer #copyright .nav-inline {
        line-height: 24px
    }

    .nav-link {
        padding: 8px 3px
    }

    .social-footer a .fa {
        margin: 0px
    }

    .hero-content-v2 {
        margin-top: 0
    }

    .list-title {
        font-size: 20px
    }

    .list-style li i {
        margin-right: 5px
    }

    .bs-example {
        margin-bottom: 30px
    }

    .bs-example .nav>li>a {
        padding: 10px 19px
    }

    .pricing-table-block .plan-list li {
        font-size: 12px
    }

    .pricing-table .table-header h3 {
        font-size: 15px
    }

    .button-area .btn {
        padding: 11px 12px
    }

    .service-box .service-content h4 {
        font-size: 14px
    }

    #carousel-area .carousel-item .carousel-caption h3 {
        font-size: 26px
    }

    #carousel-area .carousel-item .carousel-caption h5 {
        margin-bottom: 3px
    }

    #carousel-area .carousel-item .btn-lg {
        padding: 7px 10px;
        min-width: 150px
    }

    .sup-desc-wrap .sup-meta-wrap .sup-description {
        display: none
    }

    .label {
        padding: 0
    }
}


@media (max-width: 640px) {
    .page-header-title .heading-title {
        font-size: 24px
    }

    .navbar {
        padding: 0;
    }

    .navbar-light .navbar-brand {
        margin-left: 10px;
    }

    .navbar-light .navbar-toggler {
        margin: 10px;
        border: 0
    }

    .blog-item-wrapper {
        margin-bottom: 30px
    }

    .blog-item-wrapper .blog-item-text h3 a {
        font-size: 12px
    }

    .contact-form {
        margin-bottom: 30px
    }

    .contact-info {
        margin-bottom: 30px
    }

    .featured-box .featured-content h4 {
        font-size: 14px
    }

    .footer-info .pull-right {
        float: left !important
    }

    .footer-widget {
        margin-bottom: 30px
    }

    .nav-link {
        padding: 8px 3px
    }

    .hero-content-v2 {
        margin-top: 0
    }

    .hero-content-v2 h3 {
        font-size: 22px
    }

    .hero-content-v2 h3 strong {
        font-size: 32px;
        line-height: 38px
    }

    .store-btn-wrap li {
        margin-bottom: 20px
    }

    .team-members-tow figure {
        margin-bottom: 30px
    }

    .bs-example {
        margin-bottom: 30px
    }

    .bs-example .nav>li>a {
        padding: 10px 19px
    }

    .tab-content .tabbing-content {
        width: 100%;
        padding-left: 0
    }

    .pricing-table {
        margin-bottom: 30px
    }

    .pricing-table-block {
        margin-bottom: 30px
    }

    .service-box .service-content h4 {
        font-size: 14px
    }

    #carousel-area .carousel-item .carousel-caption {
        top: 5%
    }

    #carousel-area .carousel-item .carousel-caption h3 {
        font-size: 26px
    }

    #carousel-area .carousel-item .carousel-caption h5 {
        margin-bottom: 0px
    }

    #carousel-area .carousel-item .btn-lg {
        padding: 7px 10px;
        min-width: 150px
    }

    .controls .btn {
        padding: 7px 14px;
        margin: 5px 0
    }

    .list-group {
        margin-bottom: 30px
    }

    .navbar-brand {
        font-size: 5vw;
    }
}

@media (max-width: 480px) {
    .sub-title {
        font-size: 20px
    }

    .top-menu {
        height: 70px
    }

    .top-menu .right {
        float: left
    }

    .page-header-title .heading-title {
        font-size: 16px
    }

    .title-head {
        font-size: 20px
    }

    .about {
        margin-bottom: 30px
    }

    .blog-item-wrapper {
        margin-bottom: 30px
    }

    .contact-form {
        margin-bottom: 30px
    }

    .contact-info {
        margin-bottom: 30px
    }

    .contact-info-title {
        font-size: 18px
    }

    footer ul li a {
        font-size: 12px
    }

    header h3 {
        font-size: 18px
    }

    .hero-content-v2 {
        margin-top: 0
    }

    .hero-content-v2 h3 {
        font-size: 22px
    }

    .hero-content-v2 h3 strong {
        font-size: 32px;
        line-height: 38px
    }

    .store-btn-wrap li {
        margin-bottom: 20px
    }

    .team-members-tow figure {
        margin-bottom: 30px
    }

    .bs-example {
        margin-bottom: 30px
    }

    .tab-content .tabbing-content {
        width: 100%;
        margin-top: 10px;
        padding-left: 0
    }

    .pricing-table {
        margin-bottom: 30px
    }

    .pricing-table-block {
        margin-bottom: 30px
    }

    .service-box .service-content h4 {
        font-size: 14px
    }

    .count-one {
        margin-top: 40px;
        margin-bottom: 40px
    }

    #carousel-area .carousel-item .carousel-caption {
        top: 2%
    }

    #carousel-area .carousel-item .carousel-caption h3 {
        font-size: 14px
    }

    #carousel-area .carousel-item .carousel-caption h5 {
        margin-bottom: 3px;
        font-size: 12px;
        line-height: 15px
    }

    #carousel-area .carousel-item .btn-lg {
        padding: 7px 10px;
        min-width: 150px
    }

    .carousel-indicators {
        display: none
    }

    .controls .btn {
        font-size: 13px;
        padding: 7px 8px;
        margin: 5px 0
    }

    .list-group {
        margin-bottom: 30px
    }

    .massage-box {
        /* position: relative;
        padding: 23px 20px 13px 55px;
        border-radius: 4px; */
        margin: 0;
    }
}
