---
layout: default
title: About
permalink: /about/
js: about.js
---

<!-- begin header section -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header-title animated fadeInDown">
                <span>{{page.title}}</span>
            </h1>
        </div>
    </div>
    <div class="sub-title mb-5">
        <p>Women in Robotics is a global community supporting women who work in robotics and women
            who are interested in working in robotics, as entrepreneurs, industry and academia. Our activities
            include local networking events, outreach, education, mentoring and the promotion of positive role
            models in robotics, both in research, industry, entrepreneurship and just plain fun.
        </p>
        <p>
            We started as a grassroots community to support women in robotics across the globe, who wanted to see
            more women thrive.
            In 2020 we formed an official 501c3 non-profit organization.
        </p>
        <p>
            We are committed to championing the women within the robotics community. We are
            focusing on three projects in 2021 to help women both newly in the field and career veterans. These are
            Project Inspire, Project Connect, and Project Advance.
        </p>
    </div>
</div>
<!-- end header section -->

<!-- Projects -->
<div class="container">
    <div class="row">
        <!-- Start Image Service Box 1 -->
        <div class="col-md-4 mb-5">
            <div class="image-service-box">
                <img src="/assets/images/project-inspire.jpg" alt="project inspire" />
                <div class="service-text">
                    <h3><a href="/project-inspire/">Project Inspire</a></h3>
                    <p>Our annual "Women in Robotics You Need to Know About" list, plus regular updates, spotlights,
                        and wikipedia pages for women in robotics.</p>
                </div>
            </div>
        </div>
        <!-- End Image Service Box 1 -->

        <!-- Start Image Service Box 2 -->
        <div class="col-md-4 mb-5">
            <div class="image-service-box">
                <img src="/assets/images/project-connect.jpg" alt="project connect" />
                <div class="service-text">
                    <h3><a href="/project-connect/">Project Connect</a></h3>
                    <p>Forming new chapters, promoting our online community, and enjoying regular member led activities
                        and events, under a Code of Conduct.</p>
                </div>
            </div>
        </div>
        <!-- End Image Service Box 2 -->

        <!-- Start Image Service Box 3 -->
        <div class="col-md-4 mb-5">
            <div class="image-service-box">
                <img src="/assets/images/project-advance.jpg" alt="project advance" />
                <div class="service-text">
                    <h3><a href="/project-advance/">Project Advance</a></h3>
                    <p>Piloting a mentoring program, providing educational resources for women in robotics, and
                        improving accountability metrics in our workplaces.</p>
                </div>
            </div>
        </div>
        <!-- End Image Service Box 3 -->
    </div>
</div>

<!-- begin stats section -->
<div id="counter">
    <div class="container">
        <div class="row count-to-sec">
            <div class="col-md-4 col-sm-6 count-one">
                <span class="icon"><i class="fa fa-users"> </i></span>
                <h3 class="timer count-value" data-to="{{site.data.stats.members}}" data-speed="1000">
                    {{site.data.stats.members}}</h3>
                <hr class="width25-divider">
                <small class="count-title">Members</small>
            </div>

            <div class="col-md-4 col-sm-6 count-one">
                <span class="icon"><i class="fa fa-newspaper-o"> </i></span>
                <h3 class="timer count-value" data-to="{{site.data.stats.subscribers}}" data-speed="1000">
                    {{site.data.stats.subscribers}}</h3>
                <hr class="width25-divider">
                <small class="count-title">Subscribers</small>
            </div>

            <div class="col-md-4 col-sm-6 count-one">
                <span class="icon"><i class="fa fa-bookmark"> </i></span>
                <h3 class="timer count-value" data-to="{{site.data.stats.chapters}}" data-speed="1000">
                    {{site.data.stats.chapters}}</h3>
                <hr class="width25-divider">
                <small class="count-title">Chapters</small>
            </div>
        </div>
    </div>
</div>
<!-- end stats section -->

<!-- begin Board of Directors -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header-title">
                <h2 class="heading-title text-center">Board of Directors</h2>
            </div>
        </div>
    </div>

    <div class="team-members my-5">
        <div class="row">
            {%- for member in site.data.people.board %}
            {% include member-card.html member=member %}
            {%- endfor %}
        </div>
    </div>
</div>
<!-- end board of directors -->

<!-- begin Advisory Board -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header-title">
                <h2 class="heading-title text-center">Advisory Board</h2>
            </div>
        </div>
    </div>

    <div class="team-members my-5">
        <div class="row">
            {%- for member in site.data.people.advisors %}
            {% include member-card.html member=member %}
            {%- endfor %}
        </div>
    </div>
</div>
<!-- end Advisory Board -->
