---
layout: page
title: Events
permalink: /events/
---
<div class="container">
    {% assign sorted_events = site.data.events | sort:"date" %}
    {% for event in sorted_events %}
    {% include event-card.html event=event %}
    {% endfor %}
    <div class="col-md-8 offset-md-4 mb-5">
        <a href="/past-events/">Past events <i class="fa fa-arrow-right"></i></a>
    </div>
</div>
<div class="alert-info">
    <div class="container">
        <div class="massage-box">
            <strong>
                <i class="fa fa-info"></i>
                Want more events?
            </strong>
            <p>We would love for you to sponsor our next event! </p>
            <p>Some of the companies who’ve hosted events include X, the moonshot factory, Fetch Robotics, Cruise
                Automation, BossaNova Robotics, Auris Technology, Embark Trucking, Farmwise, Cooper Perkins, Apex.AI,
                OhmniLabs, Vecna, UC Berkeley and Circuit Launch</p>
            <a href="mailto:info@womeninrobotics.org"
                class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">Contact us</a>
        </div>
    </div>
</div>
