---
layout: default
title: Events
permalink: /events/
order: 2
---
<div class="header-caption">
    <div class="row">
        <div class="col-md-12 header-content text-center">
            <h1 class="page-header-title animated fadeInDown">
                <span class="text-primary">{{page.title}}</span>
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div>
        {% assign sorted_events = site.data.events | sort:"date" %}
        {% for event in sorted_events %}
        <div class="row" future-date="{{ event.date | date: '%Y%m%d' }}">
            <div class="col-md-4">
                <div class="card-block text-right">
                    <h5>{{ event.date | date: '%A' }}</h5>
                    <h4>{{ event.date | date: '%b %d,' }}</h4>
                    <h5>{{ event.date | date: '%Y' }}</h5>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-block">
                    <h3>{{ event.name }}</h3>
                    <h5> {{event.location }}</h5>
                    <p>{{ event.description | newline_to_br }}</p>
                    <a href="{{ event.url }}" class="page-scroll btn btn-lg btn-common">More info</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="text-center col-md-6 mb-60" future-date="{{ sorted_events.first.date | date: '%Y%m%d' }}">
        <a href="/past-events/">Past events <i class="fa fa-arrow-right"></i></a>
    </div>
</div>
<div class="container">
    <div class="massage-box alert-info">
        <strong>
            <i class="fa fa-info"></i>
            Want more events?
        </strong>
        <p>We would love for you to sponsor our next event! </p>
        <p>Some of the companies who’ve hosted events include X, the moonshot factory, Fetch Robotics, Cruise
            Automation, BossaNova Robotics, Auris Technology, Embark Trucking, Farmwise, Cooper Perkins, Apex.AI,
            OhmniLabs, Vecna, UC Berkeley and Circuit Launch</p>
        <a href="mailto:info@womeninrobotics.org"
            class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">Contact us</a>
    </div>
</div>
<div class="container bg-default" past-date="{{ sorted_events.first.date | date: '%Y%m%d' }}">
    <div class="row">
        <div class="col-md-12 header-content text-center">
            <h1 class="page-header-title animated fadeInDown">
                <span class="text-secondary">Past events</span>
            </h1>
        </div>
    </div>
    <div>
        {% assign reverse_sorted_events = site.data.events | sort:"date" | reverse %}
        {% for event in reverse_sorted_events limit: 5%}
        <div class="row" past-date="{{ event.date | date: '%Y%m%d' }}">
            <div class="col-md-4">
                <div class="image">
                    <img src="{{ event.image }}" alt="{{ event.name }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-block">
                    <h3>{{ event.name }}</h3>
                    <h5> {{event.date }}</h5>
                    <p>{{ event.description | newline_to_br }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
