---
layout: default
title: Events
permalink: /events/
order: 2
---
<div class="header-caption">
    <div class="row">
        <div class="col-md-12 header-content text-center">
            <h1 class="page-header-title animated fadeInDown">
                <span class="text-primary">{{page.title}}</span>
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div>
        {% assign sorted_events = site.data.events | sort:"date" %}
        {% for event in sorted_events %}
        {% include event-card.html event=event %}
        {% endfor %}
    </div>
    <div class="text-center col-md-6 mb-60" future-date="{{ sorted_events.first.date | date: '%Y%m%d' }}">
        <a href="/past-events/">Past events <i class="fa fa-arrow-right"></i></a>
    </div>
</div>
<div class="container">
    <div class="massage-box alert-info">
        <strong>
            <i class="fa fa-info"></i>
            Want more events?
        </strong>
        <p>We would love for you to sponsor our next event! </p>
        <p>Some of the companies who’ve hosted events include X, the moonshot factory, Fetch Robotics, Cruise
            Automation, BossaNova Robotics, Auris Technology, Embark Trucking, Farmwise, Cooper Perkins, Apex.AI,
            OhmniLabs, Vecna, UC Berkeley and Circuit Launch</p>
        <a href="mailto:info@womeninrobotics.org"
            class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">Contact us</a>
    </div>
</div>
