---
layout: page
title: News
permalink: /news/
---
<div class="container">
  <div class="text-center mb-5">
    <div id="custom-substack-embed"></div>
    <script>
      window.CustomSubstackWidget = {
        substackUrl: "womeninrobotics.substack.com",
        placeholder: "example@gmail.com",
        buttonText: "Subscribe",
        theme: "custom",
        colors: {
          primary: "#EB155B",
          input: "#FFFFFF",
          email: "#eeeee",
          text: "#FFFFFF",
        },
        // Go to substackapi.com to unlock custom redirect
      };
    </script>
    <script src="https://substackapi.com/widget.js" async></script>
  </div>
</div>
<section class="blog">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      {% include post-card.html %}
      {% endfor %}
    </div>
  </div>
</section>
