---
layout: page
---

<div class="container">
    {% if page.image %}
    <img class="post-image" src="{{ page.image }}" alt="{{ page.title }}">
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-6 mb-5">
            {{ content }}
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-4 mb-5">
        {% assign wir-list = site.data.wir-list | where: 'year', page.year | sort: "last_name" %}
        {%- for person in wir-list %}
        {% include profile-card.html person=person %}
        {%- endfor %}
    </div>
</div>
