name: chapters

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Generate from https://crontab.guru/
    #        ┌───────────── minute (0 - 59)
    #        │ ┌───────────── hour (0 - 23)
    #        │ │ ┌───────────── day of the month (1 - 31)
    #        │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │ │ │ │ │
    #        │ │ │ │ │
    #        │ │ │ │ │
    #        * * * * *
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    name: Update chapters json
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.ACTION_TOKEN }}
      - name: Update chapters
        uses: ./.github/actions/get-google-sheets-json/
        with:
          published_sheet_url: "https://docs.google.com/spreadsheets/d/e/2PACX-1vTqGH2SOdoVUxhOPjZ1KuW-bhNgDmdbihuqPw74OJ8CMkDpz1fBU7hXy0L-QF-7Le1glwbxkWWURQfc/pub?gid=247665893&single=true&output=csv"
          output_file: "_data/chapters.json"
      - name: Create pull request
        uses: peter-evans/create-pull-request@v7.0.11
        with:
          committer: WIR Website Bot <website@womeninrobotics.org>
          base: main
          commit-message: "Update chapters json"
          title: "Update chapters json"
          body: "Updates chapters from google sheet."
          branch: update-chapter
          token: ${{ secrets.ACTION_TOKEN }}
  chapter-map:
    runs-on: ubuntu-latest
    name: Update chapter map
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.ACTION_TOKEN }}
      - name: Update chapters
        uses: ./.github/actions/get-google-slide-png/
        with:
          presentation_id: "1YgB2SLzsxL9IWPza7Jp3KjRhErniwpyUrMwCDDkQC60"
          slide_id: "g1174c2540ab_0_108"
          output_file: "assets/images/wir-map.png"
      - name: Create pull request
        uses: peter-evans/create-pull-request@v7.0.11
        with:
          committer: WIR Website Bot <website@womeninrobotics.org>
          base: main
          commit-message: "Update chapter map"
          title: "Update chapter map"
          body: "Updates chapter map from google slide."
          branch: update-chapter-map
          token: ${{ secrets.ACTION_TOKEN }}
