name: opportunities

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Generate from https://crontab.guru/
    #        ┌───────────── minute (0 - 59)
    #        │ ┌───────────── hour (0 - 23)
    #        │ │ ┌───────────── day of the month (1 - 31)
    #        │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │ │ │ │ │
    #        │ │ │ │ │
    #        │ │ │ │ │
    #        * * * * *
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    name: Update opportunities json
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.ACTION_TOKEN }}
      - name: Update opportunities
        uses: ./.github/actions/get-google-sheets-json/
        with:
          published_sheet_url: "https://docs.google.com/spreadsheets/d/e/2PACX-1vRGCMtpWA7gtC3RAaF8uljsN3QLCtoPXeVmNUUn4PtkJ4dpJJyouRFNV-Uoiz6SFlBamfppL0lCWYpJ/pub?gid=0&single=true&output=csv"
          output_file: "_data/opportunities.json"
      - name: Create pull request
        uses: peter-evans/create-pull-request@v7.0.11
        with:
          committer: WIR Website Bot <website@womeninrobotics.org>
          base: main
          commit-message: "Update opportunities json"
          title: "Update opportunities json"
          body: "Updates volunteer opportunities from google sheet."
          branch: update-opportunities
          token: ${{ secrets.ACTION_TOKEN }}
