name: photo-challenge

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Generate from https://crontab.guru/
    #        ┌───────────── minute (0 - 59)
    #        │ ┌───────────── hour (0 - 23)
    #        │ │ ┌───────────── day of the month (1 - 31)
    #        │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │ │ │ │ │
    #        │ │ │ │ │
    #        │ │ │ │ │
    #        * * * * *
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    name: Update photo-challenge json
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.ACTION_TOKEN }}
      - name: Update chapters
        uses: ./.github/actions/get-google-sheets-json/
        with:
          published_sheet_url: "https://docs.google.com/spreadsheets/d/e/2PACX-1vTwL9OONwxvO5zGruIliv0TDh_d5ss-55N0tv8IDiQWzk_VQ1Mne0IhQImp_FX8qNJfdMcLBP9YppiZ/pub?gid=376278346&single=true&output=csv"
          output_file: "_data/photo_challenge.json"
      - name: Create pull request
        uses: peter-evans/create-pull-request@v7.0.9
        with:
          committer: WIR Website Bot <website@womeninrobotics.org>
          base: main
          commit-message: "Update photo challenge json"
          title: "Update photo challenge json"
          body: "Updates photo challenge submissions from google sheet."
          branch: update-photo-challenge
          token: ${{ secrets.ACTION_TOKEN }}
